<ion-header>
  <ion-toolbar>
    <ion-title> Mi primera aplicación híbrida </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title> Bienvenido a Ionic </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Esta es mi primera aplicación híbrida con Ionic y Angular.
    </ion-card-content>
    <ion-button expand="block" color="primary" (click)="mostrarMensaje()">
      ¡Empecemos!
    </ion-button>
  </ion-card>
</ion-content>
